DateTime==4.3
Flask==1.1.1
flask-paginate==0.5.5
gunicorn==18.0
itsdangerous==1.1.0
Jinja2==2.11.1
requests==2.24.0
urllib3==1.25.11
virtualenv==20.4.3
virtualenv-clone==0.5.4
Werkzeug==1.0.0
orjson==3.5.2
twisted=21.2.0
