.h_headline_container {
    width: 100%;
    height: 150px;
    color: #fff;
    margin-bottom: 40px;
    background-size: cover;
    background-color: #171f28;
    flex-direction: row;
}

.h_headline_cont {
    padding: 15px;
    box-shadow: 0px 0px 55px -25px rgb(0 255 149);
    background-color: #0a182c;
    border: 3px solid var(--mint);
}

.h_headline_text {
	font-size: 7vw;
}

.desktop_headline {
    display: none;
}

.mobile_headline {
    display: block;
	width: 100%;
}

#hh_banner_1 {
    margin-right: 0px;
    width: 60vw;
}

#hh_banner_2 {
    margin-left: 0px;
    width: 60vw;
}

#slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#line {
	height: 5px;
    background: var(--mint);
    z-index: 1;
    position: absolute;
    top: 205px;
    right: 0;
}

@keyframes line {
	0% {width: 0%;}
	100% {width: 100%;}

}

#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: #000;
	font-weight: 700;
    font-size: 2rem;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
}

#slider #forword {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=1 );
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	margin-right: 100%;
}


ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul#move li img {
	width: 100%;
}

@media only screen and (min-width: 1150px) {
	#hh_banner_1 {
        margin-right: 60px;
		width: 300px;
    }

    #hh_banner_2 {
        margin-left: 60px;
		width: 300px;
    }

    .desktop_headline {
        display: block;
    }

    .mobile_headline {
        display: none;
    }
    
}

@media only screen and (min-width: 550px) {
	.h_headline_text {
		font-size: 30px;
	}

	#hh_banner_1 {
		width: 300px;
    }

    #hh_banner_2 {
		width: 300px;
    }
}

