<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Coinraf</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='_images/_icons/ficon.png') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='_css/index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='_css/global.css') }}">
    <script src="{{ url_for('static',filename='_js/components.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='_js/jquery.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <g-mobile-menu></g-mobile-menu>
    <div class="g_container">
        <g-header-component></g-header-component>
        <div class="g_sub_container">
            <div class="h_headline_container flex-center-center" style="position: initial;">
                <div class="desktop_headline">
                    <div id="hh_banner_1" class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Placeholder #1 
                        </div>
                    </div>
                    <div class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Discover <b style="color: rgba(0, 255, 145, 1);">{{ list_length }}</b> coins
                        </div>
                    </div>
                    <div id="hh_banner_2"  class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Placeholder #2
                        </div>
                    </div>
                </div>

                <div class="mobile_headline">
                    <div id="banner_slider" class="center_center">
                        <div id="slider">
                            <ul id="move">
                                <li>
                                    <div id="hh_banner_1"  class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Placeholder #1
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Discover <b style="color: rgba(0, 255, 145, 1);">{{ list_length }}</b> coins
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="hh_banner_2"  class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Placeholder #2
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                <h-searchbar></h-searchbar>

            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='_js/main.js') }}" type="text/javascript"></script>
</body>
</html>