<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Coinraf</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='_images/_icons/ficon.png') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='_css/index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='_css/global.css') }}">
    <script src="{{ url_for('static',filename='_js/components.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='_js/jquery.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <g-mobile-menu></g-mobile-menu>
    <div class="g_container">
        <g-header-component></g-header-component>
        <div class="g_sub_container">
            <div class="h_headline_container flex-center-center" style="position: initial;">
                <div class="desktop_headline">
                    <div id="hh_banner_1" class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Placeholder #1 
                        </div>
                    </div>
                    <div class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Discover <b style="color: rgba(0, 255, 145, 1);">{{ list_length }}</b> coins
                        </div>
                    </div>
                    <div id="hh_banner_2"  class="h_headline_cont text_cont">
                        <div class="h_headline_text">
                            Placeholder #2
                        </div>
                    </div>
                </div>

                <div class="mobile_headline">
                    <div id="banner_slider" class="center_center">
                        <div id="slider">
                            <ul id="move">
                                <li>
                                    <div id="hh_banner_1"  class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Placeholder #1
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Discover <b style="color: rgba(0, 255, 145, 1);">{{ list_length }}</b> coins
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="hh_banner_2"  class="h_headline_cont text_cont">
                                        <div class="h_headline_text">
                                            Placeholder #2
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                <h-searchbar></h-searchbar>

                <!-- <div class="table_container">
                    <table class="h_coin_table">
                        <thead>
                          <tr>
                            <th class="dd">Rank</th>
                            <th></th>
                            <th>Name</th>
                            <th>Price(USD)</th>
                            <th>24hr %</th>
                            <th class="bb">Market Cap</th>
                            <th class="aa">Circulating Supply</th>
                            <th class="cc">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in table_data %}
                              <tr class="table_redirect" id="coin_table" data-href="/{{ i.id | lower }}" onclick="loadingSpinner()">
                                  <td class="dd">
                                    <div id="i_rank_desktop" class="text_cont i_rank">
                                      #{{ i.rank }}
                                    </div>
                                  </td>
                                  {% if i.logo_url | length %}
                                    <td>
                                      <img src="{{ i.logo_url }}" style="width: 20px; height: 20px;">
                                    </td>
                                  {% else %}
                                    <td><img src="/static/_images/crtoken.png"></td>
                                  {% endif %}
                                  
                                  <td><div id="i_name">{{ i.name }}</div><div id="i_id" style="float: left; color: #969696; padding-left: none;"><div id="id_cont" class="text_cont">{{ i.id }}</div></div><div id="i_rank_mobile" class="text_cont i_rank">#{{ i.rank }}</div></td>
                                  <td style="padding-left: 5px; letter-spacing: 2px; font-weight: 500;">{{ (i.price) | float | round(2, 'floor') | format_currency }}</td>
          
                                  {% if i['1d'] | length %}
                                    {% if '-' in i['1d'].price_change_pct %}
                                      <td id="i_24hr" style="color: #00ff93;">
                                        <div class="pc_cont_down">
                                          ▼{{ (i['1d'].price_change_pct | float * 100) | round(2, 'floor') | replace("-", "") }}%
                                        </div>
                                      </td>
                                    {% else %}
                                      <td id="i_24hr">
                                        <div class="pc_cont_up">
                                          ▲{{ (i['1d'].price_change_pct | float * 100) | round(2, 'floor') }}%
                                        </div>
                                      </td>
                                    {% endif %}
                                  {% else %}
                                    <td id="i_24hr">
                                      <div id="no_data" class="text_cont">
                                        No Data
                                      </div>
                                    </td>
                                  {% endif %}
          
                                  {% if i.market_cap | length %}
                                    <td id="i_cap" class="i_cap bb" style="letter-spacing: 1px;">{{ i.market_cap | int | round | format_currency | string_chop }}</td>
                                  {% else %}
                                    <td id="i_cap" class="i_cap bb" style="letter-spacing: 1px;">
                                      <div id="no_data" class="text_cont">
                                        No Market Cap Data
                                      </div>
                                    </td>
                                  {% endif %}
          
                                  {% if i.circulating_supply | length %}
                                    <td id="i_circulating" class="i_circulating aa" style="letter-spacing: 1px;">{{ i.circulating_supply }}</td>
                                  {% else %}
                                    <td id="i_circulating" class="i_circulating aa" style="letter-spacing: 1px;">
                                      <div id="no_data" class="text_cont">
                                        No Supply Data
                                      </div>
                                    </td>
                                  {% endif %}
          
                                  <td id="i_status" class="cc">{{ i.status }}</td>
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination.links }}
                    </div> -->

            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='_js/main.js') }}" type="text/javascript"></script>
</body>
</html>